@import '~foundation-sites/scss/foundation';
@include foundation-everything(true);

.carousel {
    padding:2rem;
    width:90%;
    margin:2rem auto;
   .slick-slide {
       img {
            max-width:900px;
            display:block;
            margin:0.5rem auto;
       }

       h5 {
           text-transform: uppercase;
           font-weight: bold;
       }

       h5, p {
           text-align:center;
           display:block;
           margin:0 auto;
            color:#fff;
            width:100%;
            @include breakpoint(medium) {
                width:70%;
            }
       }
       button {
           color:#fff;
           border:1px solid #fff;
           padding:1rem;
           transition: all 0.2s;

           &:hover {
            color:#23395d;
            background-color: #fff;;
          }
       }
   } 
}