
<div class="grid-container full bgGray">

  <header class="grid-x grid-margin-x align-center-middle text-center">
      <div class="cell small-10 medium-6 large-6 box-content">
        <img src="../assets/images/logo_black.svg" class='sw-logo' />
        <span class="whiteCopy">Hi, my name is Stephen Wildrick, a Web Developer in Phoenix, Arizona. Over the past 20 years I have been able to work with some of the worlds largest brands, focusing on interactive development and design.</span>
        <br>
        <span class="whiteCopy">A bigger, badder website is coming soon, but please take a look at a few past work samples.</span>
      </div>
  </header>

  <div class='grid-x grid-margin-x align-center-middle text-center'>
    <div class='cell small-10 medium-10'>
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="grid-x grid-margin-x align-center-middle text-center">
    <div class="cell small-10 medium-6 large-4 box-content">
      <span class="whiteCopy">If you feel the need to reach out drop me a line here:<br> <a href="mailto:swildrick@gmail.com?subject=Hey!!&body=This%20is%20where%20you%20write%20wonderful%20things.%20">swildrick@gmail.com</a>
      <br>
      or give me a call at: <a href="tel://1-602-670-3938">602.670.3938</a>
    </span>
    </div>
</div>

<footer>
  <div class="grid-x grid-margin-x align-center-middle">
    <div class='cell small-5 large-2'>
      <div class='grid-x icons'>
        <div class="cell small-3"></div>
        <div class="cell small-3"><a href='https://www.instagram.com/swildrick24/' target='_blank'><img src="../assets/images/instagram.svg" alt='Instagram Stephen Wildrick' class='footer-icon' /></a></div>
        <div class="cell small-3"><a href='https://www.linkedin.com/in/swildrick' target='_blank'><img src="../assets/images/linkedin.svg" alt='Linkedin Stephen Wildrick' class='footer-icon' /></a></div>
        <div class="cell small-3"></div>
        <!-- <div class="cell small-3"><a href='https://www.instagram.com/swildrick24/' target='_blank'><img src="../assets/images/codepen.svg" alt='Codepen Stephen Wildrick' class='footer-icon' /></a></div>
        <div class="cell small-3"><a href='https://www.instagram.com/swildrick24/' target='_blank'><img src="../assets/images/git.svg" alt='Github Stephen Wildrick' class='footer-icon' /></a></div> -->
      </div>
    </div>
  </div>

  <div class='grid-x grid-margin-x align-center-middle text-center'>
    <div class='cell small-10'>
      <p class='txt-email'>&copy; 2020 Stephen Wildrick</p>
    </div>
  </div>

</footer>

</div>